---
layout: layouts/home.njk
title: Books - Glenn 2.0
tags:
  - nav
navtitle: Books
permalink: /books/
---
<h1>Book Reviews</h1>

{% set postslist = collections.books %}
{% include "postslist.njk" %}
