<!doctype html>
<html lang="en">

  {% include "layouts/head.njk" %}

  <body class="bg-blue-200">

  {% include "layouts/header.njk" %}

    <main class="p-4 my-auto mx-auto max-w-5xl clearfix text-left bg-blue-200 {% if layoutClass %} {{ layoutClass }}{% endif %}">

      {{ content | safe }}

    </main>

  {% include "layouts/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
