<!doctype html>
<html lang="en">

  {% include "layouts/head.njk" %}

  <body class="bg-indigo-200">

  {% include "layouts/header.njk" %}

    <main class="relative flex-wrap max-w-5xl p-4 overflow-hidden text-left bg-indigo-200 wrap">

      {{ content | safe }}

    </main>
		<script>
		{%- include "details-force-state.js" -%}
		{%- include "js-class.js" -%}
    
		</script>
  {% include "layouts/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
