<!doctype html>
<html lang="en">

  {% include "layouts/head.njk" %}

  <body>

  {% include "layouts/header.njk" %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      {{ content | safe }}
    </main>

  {% include "layouts/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
