<!doctype html>
<html lang="en">

  {% include "layouts/head.njk" %}

  <body class="bg-blue-200">

  {% include "layouts/header.njk" %}

    <main class="relative clearfix max-w-5xl p-4 mx-auto my-auto overflow-hidden text-left bg-blue-200">

      {{ content | safe }}

    </main>

  {% include "layouts/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
