---
layout: layouts/base.njk
title: Books - Glenn 2.0
isDocs: true
---

<div id="TOC" class="elv-toc">

<details open>
	<summary class="details btn-primary rainbow-active rainbow-active-noanim">Menu</summary>
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
	{{ collections.all | eleventyNavigation | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
{#	{{ collections.sidebarNav | eleventyNavigation(navKey) | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }} #}
</details>

</div>

<div id="CONTENTS" class="flex-auto ">
{% if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent %}
<nav class="mb-4 breadcrumb" aria-labelledby="breadcrumb">
  <h2 class="absolute w-px h-px overflow-hidden" id="breadcrumb">Breadcrumbs: </h2>
  {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml({ listClass: 'lo lo-inline', listItemClass: 'lo-c', activeListItemClass: 'breadcrumb-active' }) | safe }}
</nav>
{% endif %}

<div class="h-entry">
<p><a href="{{ url | url }}" class="text-4xl u-url rainbow-active"><h2 class="p-name">{{ eleventyNavigation.key }}</h2></a></p>
<div class="e-content">
    {% if isbn13 %}
      <img alt="{{ eleventyNavigation.key }}" align="left" class="float-left mb-1 mr-1 book-image" src="https://covers.openlibrary.org/b/isbn/{{ isbn13 }}.jpg"></img>
    {% elif isbn %}
      <img alt="{{ eleventyNavigation.key }}" align="left" class="float-left mb-1 mr-1 book-image" src="https://covers.openlibrary.org/b/isbn/{{ isbn }}.jpg"></img>
    {% endif %}
<p>Author: {{ bookauthor }}
<p>Pages: {{ pages }}
<p>Year: {{ yearpublished }}
<p>My Rating: {{ myrating }}
<p>
<hr class="rating">
<p>
</div>
<div class="review">

{{ content | safe }}

</div>
</div>
