<div class="elv-toc">

<details open>
	<summary class="cursor-pointer border-solid border-2 text-base text-center font-bold uppercase no-underline bg-white block rounded-full m-0 p-2 py-16 px-4 shadow-md font-sans">Menu</summary>
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
	{{ collections.sidebarNav | eleventyNavigation | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
</details>

</div>