    <footer>
    <div id="meta">
    <p><img alt="author avatar" class="u-photo" src="/img/avatar-small.png" align="left" /> Made with <a href="https://11ty.io" class="rainbow-active">eleventy</a> by <a class="h-card rainbow-active" rel="me" href="https://glenn.thedixons.net/">Glenn Dixon</a> - <a rel="me" class="u-email rainbow-active" href="mailto:donblanco@posteo.net">donblanco@posteo.net</a></p>
    <p class="p-note">Retired I.T. nerd – expat life in Mexico – vegan – atheist – aspirational writer, hacker, activist, musician, genealogist</p>
    </div>
    <div id="social">
<a href="https://github.com/dixonge" rel="me" class="rainbow-active">Github</a> - <a href="https://twitter.com/realglenndixon" rel="me" class="rainbow-active">Twitter</a> - <a href="https://instagram.com/dixonge" rel="me" class="rainbow-active">Instagram</a>
    </div>
    </footer>