    <footer>
    <div id="meta">
    <p><img class="u-photo" src="/img/avatar.jpg" align="left" /> Made with <a href="https://11ty.io">eleventy</a> by <a class="h-card" rel="me" href="https://glenn.thedixons.net/">Glenn Dixon</a> - <a rel="me" class="u-email" href="mailto:donblanco@posteo.net">donblanco@posteo.net</a></p>
    <p class="p-note">Retired I.T. nerd – expat life in Mexico – vegan – atheist – aspirational writer, hacker, activist, musician, genealogist</p>
    </div>
    <div id="social">
<a href="https://github.com/dixonge" rel="me">Github</a> - <a href="https://twitter.com/realglenndixon" rel="me">Twitter</a> - <a href="https://instagram.com/dixonge" rel="me">Instagram</a>
    </div>
    </footer>