<header class="block px-4 bg-indigo-200">
      {% picture "avatar-small.png", "author avatar" %}
      <h1 class="float-left mt-4 text-4xl font-black rainbow-active"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    </header>