<header class="block px-4 bg-indigo-200">
      <img alt="author avatar" class="u-photo" src="/img/avatar-small.png" />
      <h1 class="float-left mt-4 text-4xl font-black rainbow-active"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    </header>