---
layout: layouts/base-science.njk
title: IndieWeb - Glenn 2.0
templateClass: elv-docs
headerClass: elv-header-docs
layoutClass: elv-layout-toc
isDocs: true
---

<div class="elv-toc float-left mr-8">

<details open>
	<summary class="cursor-pointer border-2 border-solid text-base text-center uppercase no-underline bg-white font-sans">Menu</summary>
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
	{{ collections.sidebarNav | eleventyNavigation("IndieWeb") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
</details>

</div>

{{ content | safe }}

{#
{% if eleventyNavigation and eleventyNavigation.key %}
{%- set navKey = eleventyNavigation.parent or eleventyNavigation.key -%}
<hr>
<h3>{% if eleventyNavigation.parent %}Other pages in {% endif %}{{ navKey }}:</h3>
{{ collections.sidebarNav | eleventyNavigation(navKey) | eleventyNavigationToHtml({ activeKey: eleventyNavigation.key, listClass: 'inlinelist inlinelist-no-nest', listItemClass: 'inlinelist-item', activeListItemClass: 'elv-cat-list-active' }) | safe }}
{% endif %}
#}

{% if relatedLinks or (relatedKey and collections[ "related-" + relatedKey ].length) %}
<hr>
<h3>Related Docs</h3>
<ul>
{% for related in collections[ "related-" + relatedKey ] %}
	<li><a href="{{ related.url }}">{{ related.data.relatedTitle }}</a></li>
{%- endfor %}
{% for url,title in relatedLinks %}
	<li><a href="{{ url }}">{{ title }}</a></li>
{% endfor %}
</ul>
{% endif %}
