---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<h1>{{ title }}</h1>

{{ content | safe }}

<h2>Most Recent Posts</h2>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
