---
layout: layouts/base.njk
templateClass: tmpl-post
---
<post class="h-entry">
<img src="{{ image }}">

<a class="u-url" href="{{ post.url | url }}"><h1 class="p-name">{{ title }}</h1></a>
<time class="postlist-date dt-published" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
<div class="e-content">
{{ content | safe }}
<a rel="author" class="p-author h-card" href="https://glenn.thedixons.net">Glenn Dixon</a>
</div></post>
{% include "layouts/last3.njk" %}

<p><a href="{{ '/' | url }}">← Home</a></p>
